* { margin: 0; box-sizing: border-box; font-family: 'Times New Roman', Times, serif;}
body, html { height: 100%; }
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #010758, #490d61);
    height: 100%;
    padding: 20px;
}
.hero h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.hero h1 span { color: #C60F7B;}
textarea {
    background: #403d84;
    width: 100%;
    max-width: 600px;
    height: 200px;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
